/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#wrapper {
	width:1400px;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
	line-height:26px;
	font-family:Open Sans;

}
h1 {
	font-size:220%;
}
h2 {
	font-size:200%;
}
h3 {
	font-size:180%;
}
h4 {
	font-size:160%;
}
h5 {
	font-size:140%;
	}
h6 {
	font-size:120%;
	}
#branding{
	background-color:white;
	height:86px;
	width:960px;
	margin-left:auto;
	margin-right:auto;

}

#menu{
	width:1400px;
	height:56px;
	line-height:56px;
	background-color:#3f8252;
	text-align:center;


}

#content{
	
	background-color:white;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	}
#head { 
	text-align:center;
	}
#head p {
	color:#b1b1b1;
	margin:0px;
	}
#head h2 {
	color:#5d5d5d;
	margin-top:23px;
	margin-bottom:0px;
	}
#head p.para{
	font-weight:bold;
	color: green;
	margin-top:21px;
	margin-bottom:0px;
	letter-spacing:3px;
	}
#video {
	text-align:center;
	}

.fb-like {	
	text-align:center;
	margin-top:23px;
	border-radius:5px;
	width:960px;
	height:56px;
	background-color:#3b5998;
	margin-bottom:20px;
	}
#info {
	width:560px;
	float:left;
	font-size:14px;
	margin:0px;
	}
#info h6 {
	margin:0px;
	}
#info p {
	line-height:23px;
	margin:0px;
	}
#inforight {
	margin:0px;
	width;400px;
	font-size:14px;
	float:right;
	}
#table th {
	background-color:#7f8c8d;
	font-size:22px;
	color:white;
	height:56px;
	}
#table tr {
	height:33px;
	background-color:#eef1f5;
	line-height:33px;
	color:#777777;
	}

#heating {
	
	height:593px;
	font-size:14px;
	text-align:center;
	background-color:#eef1f5;
	padding-left:220px;
	padding-right:220px;
	}
#heating h2 {
	color:#c0392b;
	margin-top:20px;
	}
#pics {
	display:inline;
	width:86px;
	padding:23px;
	}
#cooling {
	
	height:593px;
	font-size:14px;
	text-align:center;
	background-color:white;
	padding-left:220px;
	padding-right:220px;

	}
#cooling h2 {
	color:#428abe;
	
	}
#footer{
	background-color:white;
	clear:both;
	}
#logo {
	width:137px;
	height:86px;
	}
#brand{
	float:right;
	display:inline;
	line-height:86px;
	}
#Aplus {
	width:56px;
	height:56px;
	margin:0px;
	}
#fblog {
	width:33px;
	height:56px;
	margin:0px;
	}
#menu ul {
	margin:0px;
	}
#menu li  {
	display:inline;
	padding:20px;

	}
#menu a {
	text-decoration:none;
	color:white;
}
#menu a:hover {
	color:black;
	}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
